*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.settings/
.classpath
.project
.springBeans
target/

*.iml
.idea

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# node
node_modules/
node/

*.log
config/src/test/
eureka/src/test/
zuulgateway/src/test/
jwtauth/src/test/
resource/src/main/resources/static/
resource/src/main/resources/templates/
resource2/src/main/resources/static/
resource2/src/main/resources/templates/
resource2/src/test/
src/test/
