<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title></title>
</head>
<body>
<script th:src="@{/js/bower_components/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript">
    //document.domain = 'noosh.com';
    var storeId = window.location.search.substring(10);
    var doc = window.opener.document;
    $(doc.documentElement).find('input[name="storeNumber"]').val(storeId); //works
    //doc.getElementById("storeNumber").value=storeId; //works
    //window.opener.updateStore(storeId); //works
    window.close();
</script>
</body>
</html>