<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logdir" value="${catalina.base}/logs" />
    <property name="logname" value="boot" />
    <property name="max.retention.days" value="60" />
    <property name="layout" value="%-90(%d %-5level {%16.16thread} [%logger{32}]) : %msg%n"></property>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${layout}</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logdir}/${logname}.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>${layout}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logdir}/%d{yyyy-MM, aux}/${logname}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <maxHistory>${max.retention.days}</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING-FILE" />
    </root>
</configuration>